@media screen and (max-width: 1800px) {
    .concept-right{
        right: 147px;
    }
    .menu-left{
        margin-left:80px;
    }
}

@media screen and (max-width: 1771px) {
    .header-wrapper{
        padding: 0 105px;
    }

    .getting-right{
        margin-left: 0;
    }
}

@media screen and (max-width: 1574px) {
   .top-header{
    font-size: 66px;
   }

.news-card-item{
    margin-right: 80px;
}

.news-card-item:last-child{
margin-right: 0;    
}

.menu-left{
    margin-left: 0;
}
}

@media screen and (max-width: 1356px) {

    .top-header{
        font-size: 54px;
       }
    .top-wrapper{
        margin-left: 0;
    }

    .top-wrapper::after{
        margin-left: 20px;
        left: 0;
    }

    .news-card-ul{
        flex-wrap: nowrap;
    }

    .concept-text-wrapper{
        max-width: 444px;
        margin: 0;
    }

    .concept-left{
        padding-left: 30px;
    }

    .concept-right{
        right: 14px;
        width: 45%;
        top: 0;
    }
    .card-item{
        width: 416px;
    }

    .card-item::after{
        width: 416px;
    }
    .card-item:nth-child(2n){
width: 416px;
    }

    .cut-place{
transform: translateX(48px);
    }

    .menu-list-wrapper{
        max-width: 407px;
    }

    .news-card-top img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .getting-text-wrapper{
        max-width: 437px;
    }
}

@media screen and (max-width: 1024px) {
    .top-wrapper::after{
        margin-left: 0px;
        left: 0;
    }

    .contents-wrapper{
        flex-direction: column-reverse;
    }
.concept-left{
   
    width: 100%;
}

.concept-text-wrapper{
    max-width: 750px;
}
    .concept-right{
        position: relative;
        width: 80%;
        height: 350px;
        margin: 0 89px;
        margin-bottom: 50px;
    }

    .concept-right::after{
        width: 100%;
        height: 350px;
        margin-top: 0 100px;
    }

    .menu{
        flex-direction: column;
    }

    .card-item{
        width: 80%;
        background-repeat: no-repeat;
    }
.menu-left{
    margin: 0 50px;
}
    .menu-right{
        width: 100%;
        margin-top: 0;
    }
.card-item{
    margin-bottom: 100px;
}
.cut-place{

margin-left: 20%;
}

.card-item::after{
    width: 522px;
}
    .card-item:nth-child(2n){
width: 80%;

    }
.news-card-ul{
    flex-direction: column;
    align-items: center;
} 

.news-card-item{
    display: flex;
    width: 70%;
    margin-bottom: 50px;
}

.news-desc{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-card-top{
    width: 56%;
}
.news-card-item:last-child{
    margin-right: 80px;
}
}

@media screen and (max-width: 887px) {

.getting-wrapper{
    flex-direction: column-reverse;
   place-items: center center;
}

.getting-right{
    margin-top: 0;
    width:86%;
    margin-left: 100px;
}

.getting-left{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
}

@media screen and (max-width: 768px) {
.card-item::after{
    width: 100%;
}

.news-card-item{
    flex-direction: column;
    margin-right: 0;
}
.cut-place{
    margin-left: 12%;
}
.news-card-item:last-child{
    margin-right: 0;
}

.news-card-top{
    width: 100%;
}

.news-desc{
    margin-left: 0;
}
}

@media screen and (max-width: 600px) {
    .top-header{
        font-size: 35px;
        margin-right: 0;
    }
}
@media screen and (max-width: 563px) {
    .concept-header-wrapper{
        text-align: center;
    }

    .pl-50{
        padding-left: 0;
    }
    .pr-230{
        padding-right: 0;
    }
    .top-header{
        line-height: 90px;
    }
    .concept-right{
        margin: 0 auto;
    }

.getting-right{
    width: 100%;
    margin-left: 0;
}
.card-item{
    transform: translateX(0);
    width: 100%;
}
.g-right-img-1{
    width: 80%;
    margin: 0 auto;
}
.g-right-img-2{
margin: 0 auto;
margin-top: 50px;
}
.g-right-border{
    left: 0;
}
.getting-right-img-2{
    width: 100%;
}

.g-right-border-2{
    left: 0;
    margin: 0 a;
}

.news-top-left{
    height: 0;
}
.news-top-right{
    width: 100%;
}

}

@media screen and (max-width: 425px) {
    .top-header{
        line-height: 90px;
        font-size: 35px;
    }
.top-wrapper::after{
    width: 98%;
}

.concept-left{
    padding: 0 20px;
}

.concept-right{
    margin: 0 56px;
    margin-bottom: 50px;
    padding-left: 0;
}


    .concept-right::after{
        left: -15px;
    }

    .menu-item{
        justify-content: space-between;
    }
.menu-price{
    margin-left: 0px;
}
    .card-item{
        width: 100%;
    }

    .style-item img{
        width: 100%;
    }

    .getting-text-wrapper{
        margin: 0 20px;
    }
    .g-right-border{
        width: 100%;
    }

    .more-btn{
display: block;
margin: 0 auto;
margin-top: 100px;
    }

    .news-btn-wrapper .more-btn{
        margin-top: -65px;
    }
}

@media screen and (max-width: 375px) {

    .g-right-img-2{
        width: 100%;
    }
    .g-right-border-2{
        width: 100%;
    }

    .more-btn{
        max-width: 260px;
    }
    .arrow{
        left: 150px;
    }

    .news-card-header{
        font-size: 30px;
        text-align: center;
    }

    .news-card-label{
        padding: 8px 12px;
        margin-left: 6px;
    }
    .more-btn-text{
        flex-wrap: nowrap;
    }

    .accent-line-1{
        width: 108px;
    }
    .pl-50{
        padding-left: 37px;
    }

    .concept-header-wrapper .main-header {
padding-left: -23px;
    }

.card-inner{
    height: 264px;
    margin: 17px;
}
    .pr-230{
        padding-right: 94px;
    }

  
}