@media screen and (max-width: 1800px) {
    .news-list-wrapper{
        padding-left: 0px;
        width: 50%;
        margin: 0 auto;
    }
    .news-wrapper{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
.br-none{
display: block;
}
    .page-selector-ul{
        right: 0;
    }

    .news-list{
        justify-content: center;
    }

    .news-img{
        margin-right: 0;
    }

    .news-content-wrapper{
        align-items: flex-start !important;
        margin-left: 10%;
    }


    .news-card{
        margin-right: 0;
    }

    .news-card-inner{
        width:95%;

    }

    .news-card-text-container{
        justify-content: center;
    }
    
    .news-card-header{
        width: 100%;
        text-align: center;
        font-size: 60px;
        padding-left: 0;
    }

    .date{
        font-size: 30px;
    }

    .news-text{
        font-size: 25px;
    }

    .sidebar{
        width: 50%;
    }

    .sidebar-icon{
        width: 12%;
    }

    .page-item{
        margin-right: 10%;
    }

    .page-selector-ul{
        position: static;
    }
    .past-page{
        margin-right: 10%;
    }
}
@media screen and (max-width: 1361px) {
    .sp-header{
        display: block !important;
    }

    .header-wrapper {
        display: none;
    }

    .news-card{
        max-width: 400px;
    }
    .news-img{
        max-width: 400px;
    }
}
@media screen and (max-width: 1024px){
.news-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (max-width: 768px) {
.news-content-wrapper{
    align-items: center;
}
   .news-list-wrapper{
    width: 100%;
   }

    .past-page{
        padding: 0;
        margin-right: 20px;
    }

    .page-item{
        padding-right: 0;
        margin-right: 20px;
    }

    .sidebar{
        width: 80%;
    }

    .sidebar-header-wrapper{
        justify-content: center;
    }

    
}

@media screen and (max-width: 543px) {
    .news-img{
        height: 300px;
        max-width: 320px;
    }
.news-card{
    max-width: 320px;
}
.br-none{
display: block;
}
    .news-content-wrapper{
        margin-top: 50px;
    }

    .news-card{
        height: 277px;
    }

    .news-card-inner{
        height: 256px;
    }

    .date,.news-text{
        font-size: 20px;
    }
    
    .news-card-header{
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    .sidebar-text-wrapper{
        width: 76%;
    }
    
    .past-page{
        margin-right: 5px;
    }

    .news-card-inner{
        margin:10px;
        height: 277px;
    }

    .page-item{
        margin-right: 5px;
    }
}
